body {
  background-color: aquamarine;
  margin: 0;
  background-color: #70c5ce;
  font-family: sans-serif;
  overflow: hidden;
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.button {
  background-color: beige;
  color: red;
  position: relative;
}

#game_container {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  background: url("assets/background.jpg") no-repeat center center;
  background-size: cover;
}

#bird {
  width: 70px;
  height: 60px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 40%;
  background: url("assets/bird.jpg") no-repeat center center;
  background-size: cover;

  /* session 4 : New for rotation*/
  transform-origin: center;
  transition: transforme 0.1s linear;
}

#start-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #e3e63a;
}

#score {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 24px;
  font-family: "Pacifico", cursive;
}

/* session2 */
#start-btn:hover {
  background-color: #e3e63a;
}

/* session3 */
.pipe {
  position: absolute;
  width: 60px;
  background-color: yellow;
}

.top-pipe {
  top: 0;
  border-bottom: 5px solid yellow;
}

.bottom pipe {
  border-top: 5px solid yellow;
}

/* session 4 */

#difficulty-select {
  position: absolute;
  top: 100px;
  right: 20px;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
}